<!DOCTYPE html>
<!--Reference: http://cssdeck.com/labs/login-form-using-html5-and-css3-->
<html lang="en"> 
<head>
	<meta charset="utf-8">
	<title>Login</title>
	<!-- CDN for latest core CSS (compiled and minified) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="../public/stylesheets/login.css" /> -->
	<!--<script src="../routes/loginpage.js"></script>  -->  
</head>
<body>
	<div class="container">
		<section id="content">
			<form id="loginform" action="">
				<h1>Login</h1>
				<div>
					<input type="text" name="userN" placeholder="Username" required="" id="loginUsername" />
				</div>
				<div>
					<input type="password" name="userP" placeholder="Password" required="" id="loginPassword" />
				</div>
				<div>
					<!-- <input type="submit" value="Log in" /> -->
                	<button id="inputbutton" onClick="handleLogin(userN.id, userP.id);">Log in</button>
					<a href="#">Forgot password?</a>
				</div>
			</form><!-- form -->
		</section><!-- content -->
	</div><!-- container -->
</body>
</html>