<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Freelancers| Home</title>

    <!-- File Menu-->

    <!-- CDN for latest core CSS (compiled and minified) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <!-- Octicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.3.0/octicons.css">
</head>


<body>

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a>
            </div>

            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav pull-right">
                    <!--Put login entry box here-->
                </ul>
            </div>
            <!--/.nav-collapse -->

        </div>
    </nav>



    <footer class="site-footer navbar navbar-default">

        <div class="container">

            <div class="address">
                <div class="row">

                    <col-md-2>
                        <strong>Find me on</strong>
                        <ul class="social-media-list">


                            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

                            <div id="nonsensewrap">

                                <div id="wLinkedin">
                                    <a href="#">
                   <span id="icon-bg"><i class="fa fa-linkedin"></i></span><span class="username "> Linkedin</span></a>
                                </div>

                            </div>


                            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

                            <div id="nonsensewrap">

                                <div id="wGithub">
                                    <a href="#">
                   <span id="icon-bg"> <i class="fa fa-github" aria-hidden="true"></i></span><span class="username "> Github</span></a>

                                </div>

                            </div>

                        </ul>

                </div>
            </div>
        </div>
    </footer>

    <!--
     Bootstrap core JavaScript
     Placed at the end of the document so the pages load faster
   -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- CDN for latest core JavaScript (compiled and minified) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


</body>

</html>
