<!DOCTYPE html>
<html>
  <head>
    <title>loginpage</title>
  </head>
  <body>
    <h1></h1>
    <p>Welcome to Login Page. This page css has not been setup yet. - Hang</p>
    <p>For testing, use username: billydoe1 password: taco123</p>
	<form id='login' method="post" action="login_verification" name="login">
		Username:<input type="text" id='username' name="username"> <br>
		Password:<input type="text" id='userpass' name="password"> <br> <br>
		<input type="submit" value="Login">
		<input type='reset' value='Reset'>
</form>
</form>
  </body>
</html>
