<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Redirected to <%= title %></p>
    <button id="inputbutton" onClick="redirect();">Log in</button>
  </body>
</html>
