<!DOCTYPE html>
<html>
  <head>
    <!-- Title, Specifications, and Imports -->
    <title>Login to FreelancerCritics</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <!--<h1>Login was successful. Will be redirected in 3 seconds.</h1>
    <script>
        // var timer = setTimeout(function() {
        //     window.location='http://localhost:4000/profilepage.html'
        // }, 3000);
    </script>
  -->
    <form id='redirect' action='/gotoprofile' method='POST' name='redirect'>
    </form>
    <script>
      window.onload = function(){
        document.redirect.submit();
      };
    </script>
  </body>
</html>
<!--Source for redirecting : https://stackoverflow.com/questions/3292038/redirect-website-after-certain-amount-of-time-->
