<!DOCTYPE html>
<html>
  <head>
    <!-- Title, Specifications, and Imports -->
    <title>Search Result</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
	<head>
    <!-- Title, Specifications, and Imports -->
    <title>FreelancerCritics: A Freelancer Review Site</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <!-- Auto collapse button when the page is too small -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <!-- Home page brand -->
          <a class="navbar-brand" href="/">FreelancerCritics</a>
        </div>
        <div class="collapse navbar-collapse">
          <!-- Login, Sign up, and Profile -->
          <ul class="nav navbar-nav navbar-right">
            <li id="loginorlogout"></li>
            <li id="signuporprofile"></li>
            <script>
              // no user detected
              if(document.cookie == "") {
                document.getElementById("loginorlogout").innerHTML = "<a href='loginpage.html'><span class='glyphicon glyphicon-log-in'></span> Login</a>";
                document.getElementById("signuporprofile").innerHTML = "<a href='signuppage.html'><span class='glyphicon glyphicon-user'></span> Sign Up</a>";
              }
              // user detected
              else {
                document.getElementById("loginorlogout").innerHTML = "<a href='loginpage.html'><span class='glyphicon glyphicon-log-out'></span> Logout</a>";
                document.getElementById("signuporprofile").innerHTML = "<a href='profilepage.html'><span class='glyphicon glyphicon-star-empty'></span> Profile</a>";
              }
            </script>
	        </ul>
        </div>
      </div>
    </nav>
	<!-- Queried Tables -->
	<table style="width:100%">
		<tr>
			<th>UserName</th>
			<th>ID</th> 
			<th>Email</th>
		</tr>
		
		<tr>
			<th>HangLiangIsAwesome</th>
			<th>0</th>
			<th>vinh9015@gmail.com</th>
		</tr>
	</table>
  </body>
</html>
