<!DOCTYPE html>
<html>
  <head>
    <!-- Title, Specifications, and Imports -->
    <title>Search Result</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
	<table style="width:100%">
		<tr>
			<th>UserName</th>
			<th>ID</th> 
			<th>Email</th>
		</tr>
	</table>
  </body>
</html>
